@import "variable/*"
@import "icon/*"
@import 'axis'
@import 'jeet'
@import 'rupture'

border-box-html()
fluid-media() //care flex box image
rupture.scale = 0 320px 640px 768px 1024px 1280px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 
jeet.gutter = 1

.allpage
	background #eee
	wraper
		background white
		height 100vh
		a
			padding 20px
			display block
			box-shadow 1px 1px 20px #eee
			margin-bottom 10px
			border-radius 5px
			tr(all)
			&:hover
				background #6D2D74
				color white
.main-cont
	center(1200px)

input,select
	border 0px
	border 1px solid #E1E1E1
	padding 10px
input[type="checkbox"]
	padding 0
	
button
	border 0px
	color white
	background blue
	text-transform uppercase
body
	//font-family "PT Sans"
	font-family Arial,Helvetica,sans-serif
	font-size 16px
	background #F7F7F7

bsh(){
	box-shadow: 0px 2px 3px #E1E1E1;
}
.top-menu
	padding 10px
	width 100%
	background white
	box-shadow: 0px 2px 3px #E1E1E1;
	position relative
.top-menu-wraper
	+below(768px)
		flexB(between)
	flexB(around)
.top-menu-logo
	+below(768px)
		flexB(between)
		justify-content flex-start
		flex-grow 0
	flex-grow 2
	img
		+below(768px)
			margin 0
			width 30%
		margin 0 auto
.top-menu-items
	+below(768px)
		display none
		position absolute
		top 100%
		left 0px
		width 100%
		background white
		z-index 2000
		a
			width 100%
			display block
			text-align center
			padding 10px
			border-top 1px solid #F8F8F8
			&:last-child
				border-bottom 1px solid #F8F8F8
				
	text-transform uppercase
	flexB(around)
	flex-grow 10
	font-weight 600
.top-menu-money
	+below(768px)
		display none
	flex-grow 2
	flexB(mid)
	font-weight 600
	.fa
		margin-left 10px
.top-menu-enter
	+below(768px)
		flex-grow 0
		margin-right 20px
	flex-grow 2
	text-transform uppercase
	text-align center
	font-weight 600

.toggle-top-menu
	display none
	+below(768px)
		display block
		margin 0 20px
		&:hover
			cursor pointer
	font-size 22px
	display none
.breadcrumbs
	+below(768px)
		padding 20px
	padding 20px 0
	a
		margin-right 20px
		position relative
		&:after
			content '>'
			position absolute
			right -15px
		&:last-child
			color blue
			&:after
				content ''
				
.top-search
	+below(768px)
		fw()
		position relative
	padding 10px 20px
	background white
	box-shadow: 0px 0px 3px #E1E1E1;
	display flex
	justify-content  space-between
.top-search-town
	+below(768px)
		width 100%
		margin-right 0
		margin-bottom 10px
	flex-grow 4
	margin-right 20px
.top-search-more
	+below(768px)
		display block
	display none
	position absolute
	top 17px
	right 20px
	font-size 12px
	color blue
	text-transform uppercase
	&:hover
		cursor pointer
	.fa
		margin-left 5px
		font-size 14px
		
.top-search-town-title,
.top-search-date-title,
.top-search-time-title
	font-size 16px!important
	+below(768px)
		font-size 14px!important
		margin 5px 0
		
.top-search-town,
.top-search-date,
.top-search-time
	+below(768px)
		display flex
		justify-content space-between
		//flex 2
		fl()
.top-search
	+below(768px)
		input[type="text"],
		select
			width 100%
.filter-type-wraper
	+below(1280px)
		f()
		fw()
		.filter-type
			width 50%
.top-search-town-title
	font-size 18px
	flexB(between)
.top-search-town-input
	input
		width 100%
		margin-top 10px
.top-search-date
	+below(768px)
		display none
	+below(380px)
		margin-right 0
	flex-grow 2
	margin-right 20px
.top-search-date-title
	font-size 18px
	flexB(between)
.top-search-date-title-el
	//flex 1
.top-search-date-input
	+below(380px)
		margin-bottom 10px
	position relative
	input
		width 100%
		margin-top 10px
		&:hover
			cursor pointer
	.fa
		position absolute
		top 50%
		right 15px
		margin-top -4px
		&:hover
			cursor pointer
.top-search-time
	+below(768px)
		margin-right 0px
		display none
	flex-grow 2
	margin-right 20px
	.dropdown
		width 100%
		margin-top 10px
		background white
		border 1px solid grey
		ul
			margin 0
			padding 0
			border 1px solid grey
.top-search-time-title
	font-size 16px
	flexB(between)
.top-search-time-input
	select
		width 100%
		margin-top 10px
.top-search-but
	+below(768px)
		width 100%
		margin-top 10px
	flex-grow 1
	f()
	fl()
	justify-content flex-end
	button
		border 0px
		color white
		background blue
		text-transform uppercase
		width 100%
		padding 12px 0

input[type="checkbox"]
	display:none;


input[type="checkbox"] + label span
	display:inline-block;
	width:24px;
	height:24px;
	margin:-1px 4px 0 0;
	vertical-align:middle;
	background:url(../img/chekbox.png) no-repeat;
	cursor:pointer;


input[type="checkbox"]:checked + label span
	background:url(../img/checkbox-check.png) no-repeat;


.content
	margin-top 20px
.content-wraper
	f()
	+below(1280px)
		fw()
.content-left
	+below(1280px)
		display none
		width 100%
		margin-right 0
		padding 10px
	flex:1;
	margin-right 20px
.content-right
	+below(1280px)
		flex:none;
		width 100%
	flex:4;
	
.show-from
	text-align center
	color white
	background blue
	padding 15px 0
	text-transform uppercase
	margin-bottom 10px
.content-left-filter
	padding 10px
	bsh()
	background white
.filter-reting
	margin-bottom 10px
	padding-bottom 20px
	border-bottom 1px solid #f8f8f8
.content-left-title
	font-weight 600
	margin-bottom 10px
.filter-reting-el
	flexB(between)
.filter-reting-el-left
	label
		margin-right 5px
	flexB(between)
	.active
		color yellow!important
	.fa
		margin-right 3px
		font-size 20px
		color grey
.filter-reting-stars
	label
		margin-right 5px
	.active
		color yellow!important
	.fa
		margin-right 3px
		font-size 20px
		color grey
//.active
//.filter-reting-el-right
//.filter-review
//.filter-review-slider
.filter-name-wraper
	input[type="text"]
		width 80%
	f()
	margin-bottom 10px
	padding-bottom 20px
	border-bottom 1px solid #f8f8f8
	button
		padding 0 10px
//.filter-name 
//.content-left-title 
.filter-type 
	+below(768px)
		font-size 12px
	margin-bottom 10px
	padding-bottom 20px
	border-bottom 1px solid #f8f8f8
.filter-type-el 
	margin-bottom 3px
	
.content-right-sort
	+below(768px)
		fw()
		position relative

			
	flexB(around)
	bsh()
	background white
	.active
		+below(768px)
			color white
			background blue
		border-bottom 2px solid blue
		&:after
			content '\f0d7'
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			margin-left 10px
.content-right-sort-title-filter
	display none
	+below(768px)
		display block
	position absolute
	padding-left 25px
	top 0px
	left 0px
	font-size 22px
	height 100%
	width 30%
	text-align left
	line-height 50px
	&:hover
		cursor pointer
.content-right-sort-title-toggle
	display none
	+below(768px)
		display block
	position absolute
	padding-left 20px
	top 0px
	right 25px
	font-size 28px
	height 100%
	width 30%
	text-align right
	line-height 50px
	&:hover
		cursor pointer
.content-right-sort-el
	+below(768px)
		width 100%
		text-align center
		display none
	text-transform uppercase
	padding 15px 0
	&:hover
		cursor pointer
	
.content-right-sort-title
	text-transform uppercase
	padding 15px 0

.noUi-horizontal
	height 5px

.noUi-horizontal .noUi-handle 
	width 15px
	height 15px
	left -7px
	top -5px
	border-radius 50%
	background #0074d9

.noUi-handle
	box-shadow 0 0 0
	border 0
.noUi-connect
	background blue

.noUi-handle:after, .noUi-handle:before 
	content ""
	display none

.noUi-target
	border 0px	
.noUi-value
	font-size 10px

#rangeSlider
	margin-bottom 60px
	
.content-right-found
	margin-top 10px
	bsh()
	background white
	padding 15px
.content-right-found-content
	+below(768px)
		fl()
	f()
	margin-bottom 10px
.content-right-found-img
	+below(768px)
		margin-right 0px
	margin-right 20px
	flex:3;
	img
		width 100%
.content-right-found-info
	f()
	fl()
	flex:8;
.content-right-found-title
	+below(768px)
		fw()
	flexB(between)
	margin-bottom 10px
.content-right-found-title-name
	+below(1024px)
		font-size 14px
	color blue
	font-size 18px
	font-weight 400
	border-bottom 1px solid blue
	text-transform uppercase
.content-right-found-title-type
	+below(1024px)
		font-size 14px
	color blue
	font-size 18px
	font-weight 400
	text-transform uppercase
.content-right-found-text
	font-size 14px
	color #4F4F4F
.content-right-found-more
	text-align right
	color blue
	text-decoration underline
	
.content-right-found-get
	+below(768px)
		fw()
	f()
	margin-top 10px
.content-right-found-get-type
	+below(1024px)
		flex 3
	+below(768px)
		width 100%
		flex none
	margin-right 20px
	flex:2;
.content-right-found-get-title
	
	font-weight 600
	text-transform uppercase
	border-bottom 1px solid grey
	margin-bottom 5px
.content-right-found-get-type-el
	+below(768px)
		text-align center
	margin-bottom 10px
	.fa
		color blue
		margin-right 5px
.content-right-found-get-type-wraper
	+below(768px)
		flexB(between)
		padding 10px 0
		margin-bottom 10px
	.fa
		color blue
		margin-right 5px
.content-right-found-get-price
	+below(768px)
		width 100%
		flex none
	flex:8;
.content-right-found-get-price-el
	+below(768px)
		padding 5px 0px
	flexB(between)
	padding 10px
.content-right-found-get-price-val
	flex 1
	text-align center
	font-weight 600
	font-size 20px
.content-right-found-get-price-but
	+below(768px)
		font-size 14px
	flex 1
	text-align center
	background blue
	color white
	padding 10px
	text-transform uppercase
	font-size 14px

.content-right-found-get-price-text
	+below(768px)
		flex 2
		display none
	flex 1
	text-align center
	font-size 12px
.content-right-found-foter
	+below(768px)
		fw()
		margin-top 10px
	margin-top 20px
	flexB(between)
	a
		+below(768px)
			font-size 12px
			width 50%
			text-align center
			margin-bottom 5px
		text-decoration underline
		color #AFAFAF
.content-right-found-img-small
	f()
	fw()
.content-right-found-img-small-el
	width calc(33.333% - 2px)
	margin 1px
.content-right-found-img-big
	margin-bottom 1px
.content-right-found-sale
	+below(768px)
		margin-bottom 10px
	background red
	color white
	font-size 12px
	text-align center
	padding 5px 10px
	margin-top 10px
	
.test
	display flex
.test-left
	flex 8
	background red
	display flex
.test-right
	flex 5
	background green
	display flex
.main-cont
	center(1240px)
.main-head 
	position relative
	height 500px

.main-head-filter
	background-color: rgba(34,34,34,.15);
	background-image: -webkit-linear-gradient(left,rgba(34,34,34,.55),rgba(34,34,34,.5),rgba(34,34,34,.4),rgba(34,34,34,.2),rgba(34,34,34,0));
	background-image: -moz-linear-gradient(left,rgba(34,34,34,.55),rgba(34,34,34,.5),rgba(34,34,34,.4),rgba(34,34,34,.2),rgba(34,34,34,0));
	background-image: -o-linear-gradient(left,rgba(34,34,34,.55),rgba(34,34,34,.5),rgba(34,34,34,.4),rgba(34,34,34,.2),rgba(34,34,34,0));
	background-image: linear-gradient(to right,rgba(34,34,34,.55),rgba(34,34,34,.5),rgba(34,34,34,.4),rgba(34,34,34,.2),rgba(34,34,34,0));
	height 100%
	position absolute
	top 0px
	left 0px
	width 100%
	z-index 200
.main-head-slider
	width 100%
	.owl-item
		+below(500px)
			height 700px
		height 500px
.main-head-slider-el
	background-size cover
	background-position center top
	width 100%
	height 100%
	.main-cont
		z-index 300
		position relative
		height 100%
.main-head-content
	position absolute
	top 0px
	left 0px
	z-index 300
	width 100%
.main-head-cont 
	center(1460px)
	flexB(between)
	height 70px
	+below(768px)
		.toggle-top-menu
			flex 1
			margin 0
			text-align center
.main-head-cont-logo
	+below(1280px)
		flex 1
		img
			margin 0 auto
			width 100%
	+below(768px)
		justify-content flex-start
		img
			width 50%!important
	+below(640px)
		flex 4
		
	height 100%
	flexB(mid)
	img
		width 80%
.main-head-cont-menu
	+below(1280px)
		flex 6
		z-index 9999
	+above(768px)
		display flex!important
	+below(768px)
		display none
		position absolute
		left 0px
		top 70px
		height auto
		fw()
		background white
		a
			width 100%
			color black!important
			padding 15px
			
	flexB(around)
	height 100%
	a
		text-transform uppercase
		color white
		height 100%
		flexB(mid)
		position relative
		&:hover
			&:after
				content ''
				position absolute
				height 2px
				width 100%
				background white
				left 0px
				bottom 0px
	width 100%
.main-head-cont-logo-img
	width 100%
.main-head-cont-enter 
	+below(1280px)
		flex 1
		text-align center
	+below(768px)
		padding-right 20px
	+below(640px)
		font-size 12px
	text-transform uppercase
	color white

.main-head-row-input
	flexB(between)
.main-head-row-input-el
	f()
	fl()
	width 100%
	input
		width 100%
		
.main-head-fullwidth
	+below(1024px)
		margin-bottom 10px
	padding 0 20px
	//+below(1280px)
	.fa
		color white
	width 100%
	border-bottom  1px solid rgba(255, 255, 255, 0.2)
	margin-bottom 70px
	
.main-head-slider-content
	flexB(mid)
	fl()
	color white
	z-index 4000
	width 100%
	position absolute
	bottom 10%
.main-head-slider-country
	font-size 13px
	opacity .8
.main-head-slider-name
	font-size 32px
	margin-bottom 10px
.main-head-slider-days
	font-size 13px
	opacity .8
	margin-bottom 10px
.main-head-slider-cost
	margin-bottom 10px
	flexB(mid)
	width 250px
	span
		margin 0 4px
.main-head-slider-from
	color #ffeba0
.main-head-slider-val
	color #ffeba0
	font-size 18px
.main-head-slider-rub
	color #ffeba0
	font-size 18px
.main-head-slider-text
	color white
	font-size 13px
.main-head-slider-but
	padding 5px 10px
	border 1px solid white
	border-radius 5px
	font-size 13px
	height 28px
	margin-top 15px
	color white
.main-head-slider-cost-value
	width 65%
	text-align right
.main-head-slider-cost-text
	width 35%
	
.main-service
	background #F3F1ED;
//.main-cont
.main-service-wraper
	+below(768px)
		fw()
	flexB(mid)
.main-service-el
	+below(768px)
		width 25%
		flex initial
	height 120px
	flexB(mid)
	fl()
	flex 1
	&:hover
		background white
.main-service-el-img
	img
		width 32px
		
.main-service-el-text
	+below(640px)
		font-size 9px
	font-size 13px
	margin-top 20px
	text-align center
//.main-place
//.main-cont
//.main-wraper
.main-place-row
	+below(768px)
		fw()
	f()
.main-place-el
	+below(768px)
		width 100%
	position relative
	&:hover
		.main-place-el-filter
			background-image: linear-gradient(to right, rgba(34,34,34,0.55), rgba(34,34,34,0.5), rgba(34, 34, 34, 0.53), rgba(34, 34, 34, 0.54), rgba(34, 34, 34, 0.58));

.main-place-el-filter
	position absolute
	top 0px
	left 0px
	width 100%
	height 100%
	transition: background-color .35s,background-position .35s;
	background-color: rgba(34,34,34,.15);
	background-image: linear-gradient(to right,rgba(34,34,34,.55),rgba(34,34,34,.5),rgba(34,34,34,.4),rgba(34,34,34,.2),rgba(34,34,34,0));
.main-place-el-img
	height 255px
	background-size cover
	background-position: bottom center
//.main-place-el-content
.main-small-small-big
	+below(768px)
		.main-place-el
			flex initial!important
	.main-place-el
		&:nth-child(1)
			flex 2
		&:nth-child(2)
			flex 1
		&:nth-child(3)
			flex 1
.main-big-small-small
	+below(768px)
		.main-place-el
			flex initial!important
	.main-place-el
		&:nth-child(1)
			flex 1
		&:nth-child(2)
			flex 1
		&:nth-child(3)
			flex 2

.main-place-el-content
	color white
	z-index 4000
	position absolute
	top 20px
	left 20px
.main-place-country
	font-size 13px
	opacity .8
.main-place-name
	font-size 18px
	margin 10px 0
.main-place-days
	font-size 13px
	opacity .8
	margin-bottom 10px
.main-place-cost
	margin-bottom 10px
	f()
	span
		margin 0 4px
.main-place-from
	color #ffeba0
.main-place-val
	color #ffeba0
	font-size 18px
.main-place-rub
	color #ffeba0
	font-size 18px
.main-place-text
	color white
	font-size 13px
.head-form
	.main-cont
		padding 10px

div[class*="main-type"]
	fw()
	f()
	width 50%
//.main-type-one
	
.main-type-one-left
	.main-place-el
		height 255px
		display block
		&:nth-child(1)
			width 100%
		&:nth-child(2)
			width 50%
		&:nth-child(3)
			width 50%
.main-type-one-right
	.main-place-el
		height 255px
		display block
		&:nth-child(1)
			width 50%
		&:nth-child(2)
			width 50%
		&:nth-child(3)
			width 100%
			
//.main-type-two

.main-type-two-left

	.main-place-el
		height 255px
		display block
		&:nth-child(1)
			width 50%
		&:nth-child(2)
			width 50%
		&:nth-child(3)
			width 100%
.main-type-two-right

	.main-place-el
		display block
		.main-place-el-img
			height 100%
		&:nth-child(1)
			width 100%
			height 510px


//.main-type-three

.main-type-three-left
	.main-place-el
		display block
		.main-place-el-img
			height 100%
		&:nth-child(1)
			width 100%
			height 510px
.main-type-three-right
	.main-place-el
		height 255px
		display block
		&:nth-child(1)
			width 50%
		&:nth-child(2)
			width 50%
		&:nth-child(3)
			width 100%
	
			
.main-templ-four
	f()
	fw()
	.main-type-four-left
		f()
		fw()
		width 25%
		.main-place-el
			width 100%
	.main-type-four-center
		f()
		fw()
		width 50%
		.main-place-el
			width 100%
			height 510px
			.main-place-el-img
				height 100%
	.main-type-four-right
		f()
		fw()
		width 25%
		.main-place-el
			width 100%
			
.main-templ-five
	f()
	fw()
	.main-type-five-center
		f()
		fw()
		width 100%
		.main-place-el
			width 100%
			height 510px
			.main-place-el-img
				height 100%
.main-templ-six
	f()
	fw()
	.main-type-six-center
		f()
		fw()
		width 100%
		.main-place-el
			width 50%
			height 255px
			.main-place-el-img
				height 100%
+below(768px)
	div[class*="main-type"]
		fw()
		f()
		width 100%!important
		height 255px!important
		.main-place-el
			height 255px!important
			width 100%!important