//Include style
include ./block_html/style.jade
body
	//Include header
	include ./block_html/elements/const.jade
	include ./block_html/header.jade
	include ./block_html/breadcrumbs.jade

	.main-cont
		.faq-wraper
			.faq-left
				i.fa.fa-sort-desc
				.mid-title Категории
				.faq-menu
					a(href="#") 10 наиболее часто задаваемых вопросов
					a(href="#") Поиск
					a(href="#") Типы номеров
					a(href="#") Цены
					a(href="#") Кредитные карты и способы оплаты
					a(href="#") Сообщения
					a(href="#") Оплата
					a(href="#") Процедура бронирования
					a(href="#") Порядок проживания
					a(href="#") Подтверждение
					a(href="#") Отмена бронирования
					a(href="#") Дополнительные услуги
					a(href="#") Маршрут проезда до отеля
					a(href="#") Отзывы гостей
					a(href="#") Безопасная работа в интернете

			.faq-right
				.faq-search
					.big-title Найти
					p Введите ключевое слово или тему
					form(action="#").faq-search-input
						input(type="text" placeholder=" Например ")
						i.fa.fa-search
				.faq-content
					.big-title 10 наиболее часто задаваемых вопросов
					hr
					.mid-title Что входит в цену?
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas distinctio ex accusantium eveniet eaque exercitationem reprehenderit asperiores modi, recusandae numquam aliquam, ipsam illo, deserunt similique! Maiores debitis possimus consequuntur molestias recusandae voluptates animi, tempora iure rem delectus inventore iste dolor, ad, ipsam, minima mollitia commodi odit nesciunt! 

					.mid-title Могу ли оформить бронирование без кредитной карты?
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas distinctio ex accusantium eveniet eaque exercitationem reprehenderit asperiores modi, recusandae numquam aliquam, ipsam illo, deserunt similique! Maiores debitis possimus consequuntur molestias recusandae voluptates animi, tempora iure rem delectus inventore iste dolor, ad, ipsam, minima mollitia commodi odit nesciunt! 

					.mid-title Что входит в цену?
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas distinctio ex accusantium eveniet eaque exercitationem reprehenderit asperiores modi, recusandae numquam aliquam, ipsam illo, deserunt similique! Maiores debitis possimus consequuntur molestias recusandae voluptates animi, tempora iure rem delectus inventore iste dolor, ad, ipsam, minima mollitia commodi odit nesciunt! 

					.mid-title Могу ли оформить бронирование без кредитной карты?
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas distinctio ex accusantium eveniet eaque exercitationem reprehenderit asperiores modi, recusandae numquam aliquam, ipsam illo, deserunt similique! Maiores debitis possimus consequuntur molestias recusandae voluptates animi, tempora iure rem delectus inventore iste dolor, ad, ipsam, minima mollitia commodi odit nesciunt! 

					.mid-title Что входит в цену?
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas distinctio ex accusantium eveniet eaque exercitationem reprehenderit asperiores modi, recusandae numquam aliquam, ipsam illo, deserunt similique! Maiores debitis possimus consequuntur molestias recusandae voluptates animi, tempora iure rem delectus inventore iste dolor, ad, ipsam, minima mollitia commodi odit nesciunt! 

					.mid-title Могу ли оформить бронирование без кредитной карты?
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas distinctio ex accusantium eveniet eaque exercitationem reprehenderit asperiores modi, recusandae numquam aliquam, ipsam illo, deserunt similique! Maiores debitis possimus consequuntur molestias recusandae voluptates animi, tempora iure rem delectus inventore iste dolor, ad, ipsam, minima mollitia commodi odit nesciunt! 


	
	include ./block_html/modal.jade
	include ./block_html/footer.jade

//Include script
include ./block_html/script.jade

