//Include style
include ./block_html/style.jade
body
	//Include header
	include ./block_html/elements/const.jade
	include ./block_html/header.jade
	include ./block_html/breadcrumbs.jade

	.main-cont
		.lk-title Мои закладки
		.lk-wraper
			.lk-left
				include ./block_html/lk-menu.jade
			.lk-right
				.lk-right-content
					.lk-list-tab-title Избранное
					.lk-bookmark
					.lk-bookmark-title Выбрано: 5 экскурсий
					.lk-bookmark-nav
						select(name="").dropdown
							option Выберите действие
							option Добавить в избранное
							option Удалить из списка
							option Выделить все
						a(href="#").btn-main Забронировать

					.lk-bookmark-wraper
						- for (var a = 0; a < 6; a++)
							.lk-bookmark-el
								.lk-bookmark-el-title НАЗВАНИЕ ЭКСКУРСИИ
								.lk-bookmark-el-check
									input(id='.lk-bookmark-#{a+1}', type='checkbox', name='rr')
									label(for='.lk-bookmark-#{a+1}') 
										span
								.lk-bookmark-el-price $ 1400
								img(src="img/otel-item-2.jpg", alt="")
					.lk-list-mail
						.mid-title Выслать список на e-mail
						form(action="").lk-list-mail-form
							input(type="text")
							button.btn-main Отправить
				.lk-right-bottom
					a(href="#").lk-right-bottom-el Забронировать отель
					a(href="#").lk-right-bottom-el Забронировать билет
					a(href="#").lk-right-bottom-el Найти экскурсию
				

	
	include ./block_html/modal.jade
	include ./block_html/footer.jade

//Include script
include ./block_html/script.jade

