//Include style
include ./block_html/style.jade
body
	//Include header
	include ./block_html/elements/const.jade
	include ./block_html/header.jade
	include ./block_html/breadcrumbs.jade

	.main-cont
		.lk-title Корзина
		.lk-wraper
			.lk-left
				include ./block_html/lk-menu.jade
			.lk-right
				.lk-right-content.lk-order
					.big-title Корзина
					.lk-order-result-wrap
						.lk-order-result
								.lk-order-result-text В вашей корзине 3 экскурсии на сумму 
								.lk-order-result-val 12 500 руб
						.btn-row
							.btn-main.toggle-basket-edit Состав корзины
						
						.lk-bron-edit.toggle-basket-wraper
							.lk-bron-edit-wraper
								- for (var a = 0; a < 3; a++)
									.lk-bron-edit-el
										.lk-list-el-delete
											.fa.fa-close
										.lk-bron-edit-img
											img(src="img/otel-item-2.jpg", alt="")
										.lk-bron-edit-info
											p Индивидуальная экскурсия
											p Италия, Рим
											a(href="#") Название экскурсии
										.lk-bron-edit-price
											.lk-bron-edit-price-title Стоимость
											.lk-bron-edit-price-info
												span (2 взрослых + 1 ребенок)
												a(href="#") изменить
											.lk-bron-edit-price-val $200 = 4200 руб

										.lk-bron-edit-date
											.form-block-row
												label Дата экскурсии
												input.input-date(type="text" placeholder="Дата экскурсии" readonly)
											.form-block-row
												label Время экскурсии
												select(name="").dropdown
													option 10:00
													option 11:00
													option 12:00
							hr
							.lk-bron-edit-total
								.lk-bron-edit-total-el
									.lk-bron-edit-total-name Бронирование экскурсии
									.lk-bron-edit-total-val 7240 руб
								.lk-bron-edit-total-el
									.lk-bron-edit-total-name Покупка экскурсии
									.lk-bron-edit-total-val 17240 руб
								.lk-bron-edit-total-el
									.lk-bron-edit-total-name Итого:
									.lk-bron-edit-total-val 7240 руб
								a(href="#").btn-main Оформить


					.mid-title Оформление заказа
					.lk-order-enter 
						a(href="#") Войдите
						span ,если Вы еще не зарегистрированы, или заполните данные о себе
					form(action="#")
						.form-row
							label Ваше имя
							input(type="text" placeholder="Ваше ФИО")
						.form-row
							label Адресс e-mail
							input(type="text" placeholder="Ваш e-mail")
						.form-row
							label Мобильный телефон
							input(type="text" placeholder="Ваш телефон")
						.form-row
							label Адрес доставки
							input(type="text" placeholder="Ваш адрес")
						.mid-title Способ оплаты
						.lk-prof-form-check
							input(id='pay-cash', type='checkbox', name='rr')
							label(for='pay-cash') 
								span
							text Оплата наличными при получении заказа
						.lk-prof-form-check
							input(id='pay-online', type='checkbox', name='rr')
							label(for='pay-online') 
								span
							text Онлайн оплата (Робокаса) 
						.lk-type-pay
							- for (var a = 0; a < 8; a++)
								.lk-type-pay-img
									img(src="img/pay-#{a+1}.png", alt="")
						.mid-title Комментарий к заказу
						textarea(name="" rows="4")
						.lk-prof-form-check
							input(id='pay-info', type='checkbox', name='rr')
							label(for='pay-info') 
								span
							text Я хочу получать информацию об акциях, скидках, а также бесплатные советы и рекомендации
						button.btn-main Готово 
				.lk-right-bottom
					a(href="#").lk-right-bottom-el Забронировать отель
					a(href="#").lk-right-bottom-el Забронировать билет
					a(href="#").lk-right-bottom-el Найти экскурсию
				

	
	include ./block_html/modal.jade
	include ./block_html/footer.jade

//Include script
include ./block_html/script.jade

