//Include style
include ./block_html/style.jade
body
	//Include header
	include ./block_html/elements/const.jade
	include ./block_html/header.jade
	include ./block_html/breadcrumbs.jade
	include ./block_html/top_search.jade

	.main-cont
		.back-search
			.triangle-left
			a(href="#") Вернуться к результатам поиска

	.result
		.main-cont
			.result-wraper
				.result-left
					.result-left-title
						.big-title Золотое кольцо России
						+star()
					.result-left-alert ! Кто-то только что забронировал экскурсию
					.result-left-img
						img(src="img/otel-item-2.jpg", alt="")
					.mid-title сборные туры по золотому кольцу
					
					.tour-table
						.tour-table-title
							.tour-table-title-date Дата
							.tour-table-title-info Стоимость тура на одного человека (руб.)
						- for (var b = 0; b < 3; b++)
							.tour-table-el
								.tour-table-el-title
									a(href="#") 001.2 дн. РУССКИЕ ЖЕМЧУЖИНЫ сб.-1
									a(href="#") Подробнее
								.tour-table-el-wraper
									.tour-table-el-left
										.tour-table-el-row
											.tour-table-el-date 13.02
											.tour-table-el-text Стандарт двухместное
											.tour-table-el-cost 5340 р.
										.tour-table-el-row
											.tour-table-el-date 13.02
											.tour-table-el-text Стандарт основное место ребенок до 14 лет
											.tour-table-el-cost 5240 р.
										.tour-table-el-row
											.tour-table-el-date 13.02
											.tour-table-el-text Стандарт дополнительное место
											.tour-table-el-cost 5340 р. 
									.tour-table-el-right
										.btn-main забронировать


					.mid-title-border оценки гостей
					
					.result-mark
						.result-mark-left
							+mark('Питание','82') 
							+mark('Автобус','76') 
							+mark('Удобства','42') 
							+mark('Остановки','82') 
						.result-mark-right
							+mark('Экскурсовод','82') 
							+mark('Атмосфера','42') 
							+mark('Сервис','22') 
							+mark('Общая','15')

					.mid-title-border Полезная информация

					.result-info
						.result-info-left
							.result-info-el
								.result-info-el-color.result-info-el-color-red
								.result-info-el-info Ж/Д оплачивается отдельно
							.result-info-el
								.result-info-el-color.result-info-el-color-green
								.result-info-el-info Все включино
						.result-info-right
							.result-info-el
								.result-info-el-color.result-info-el-color-green
								.result-info-el-info Ж/Д оплачивается отдельно
							.result-info-el
								.result-info-el-color.result-info-el-color-blue
								.result-info-el-info Питание

					.mid-title-border Достопримечательности
					
					- for (var c = 0; c < 3; c++)
						.result-place
							.result-place-img
								img(src="img/otel-item-2.jpg", alt="")
							.result-place-info
								.result-place-title Аастед-церковь
								.result-place-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi vitae vel ab provident, totam cumque voluptatum iste adipisci error, tempora repudiandae itaque aliquam temporibus aliquid nulla unde nisi nostrum. Ab veritatis asperiores in tenetur dolorum, architecto reiciendis quod, illum eum odio illo, accusantium autem odit. Necessitatibus recusandae fuga deserunt explicabo odio consequuntur sequi, cum eius dolor! Ab dignissimos temporibus at facere dolorem iusto consequuntur, unde veniam. Illum, 
				
				.result-right
					.result-right-title Индивидуальная экскурсия
					.btn-main#get-bron забронировать
					a(href="#").btn-main.btn-more
						i.fa.fa-bars
						span Подробнее
					.result-cost
						.result-cost-text
							span цена за 5 дней
							span 1 взрослый
						.result-cost-val $ 1 788
					.result-right-hide-mobile
						.result-right-img
							- for (var b = 0; b < 12; b++)
								.result-right-img-el
									img(src="img/otel-item-2.jpg", alt="")
							a(href="#") Еще фото

						.mid-title-border Описание путевки и туры по золотому кольцу из перьми
						.result-right-text
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, laudantium molestiae. Ex eos, veniam consequatur voluptatum ullam deleniti eius, impedit molestiae porro quod illo autem voluptatibus in dolor saepe tempore excepturi aliquid praesentium commodi ea similique magni ut laboriosam. Odit eum sunt libero enim eveniet id possimus iste illum dolorem magnam maiores fuga porro earum deserunt ipsum praesentium voluptate placeat  
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, laudantium molestiae. Ex eos, veniam consequatur voluptatum ullam deleniti eius, impedit molestiae porro quod illo am dolorem magnam maiores fuga porro earum deserunt ipsum praesentium voluptate placeat  
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, laudantium molestiae. Ex eos, veniam consequatur voluptatum ullam deleniti eius, impedit molestiae porro quod illo am dolorem magnam maiores fuga porro earum deserunt ipsum praesentium voluptate placeat 

						.mid-title-border Продолжительность
						.result-right-text
							p 4-5 дней

						.mid-title-border Организатор
						.result-right-text
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod iure et illum obcaecati consequuntur omnis veritatis sapiente quas eum recusandae magnam, quia, pariatur consectetur facilis modi animi. Nulla nisi sequi dolorum ex iure ipsa quam vero obcaecati et ipsum excepturi alias suscipit tempora, natus temporibus a necessitatibus, saepe unde recusandae.

						.mid-title-border Информация о гиде
						.gid
							.gid-wraper
								.gid-img
									img(src="img/gid.jpg", alt="")
								.gid-info
									.gid-title Оксана Г.
										+star()
									.gid-text сертифицированный гид
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ullam tempore quas voluptatem! Corrupti ipsa nobis, reiciendis asperiores exercitationem neque, unde non commodi consectetur nihil, omnis tempora ex aperiam, doloremque?
	
	.same-excurse
		.main-cont
			.mid-title похожие экскурсии
			.same-excurse-wraper
				- for (var c = 0; c < 3; c++)
					a(href="#").same-excurse-el
						img(src="img/otel-item-2.jpg", alt="")
						.same-excurse-title Название экскурсии

	.modal.modal-order
		i.fa.fa-close
		.modal-order-wraper
			.big-title Заказ экскурсии
			.modal-order-text Индивидуальная экскурсия
			form(action="#")
				input#modal-date(type="text" placeholder=" Дата ")
				select.modal-time.dropdown
					option Время 
					option 10:00
					option 11:00
					option 12:00
				select.modal-man.dropdown
					option Взрослые 
					option 1
					option 2
					option 3
				select.modal-children.dropdown
					option Дети 
					option 1
					option 2
					option 3
				.modal-order-el
					.modal-order-left
						.modal-order-left-title Лучшая цена
						.modal-order-left-price $ 1 788
					.modal-order-right
						.btn-main#modal-get-bay Купить
						span Нельзя отменить бронь
				.modal-order-el
					.modal-order-left
						.modal-order-left-title Стандарт
						.modal-order-left-price $ 2000
					.modal-order-right
						.btn-main#modal-get-bron Забронировать
						span Возможна отмена брони за 3 дня
		.modal-more
			span *Точное время будет указано в бланке заказа
			span *дети от 7 лет

	.modal.modal-bron
		.modal-bron-wraper
			.big-title Бронь добавлена
			.btn-main продолжить покупки

	.modal.modal-exs
		.modal-bron-wraper
			.big-title Экскурсия добавлена в корзину
			.btn-main Оплатить
			.btn-main продолжить покупки
	include ./block_html/footer.jade

//Include script
include ./block_html/script.jade

