darkbg = #191919;
blue = #0074d9;
green = #A6D902;
grey = #E1E1E1;
darkgrey = #afafaf;
lightgrey = #F7F7F7;
red = #f00;
darkblue = #115d95;
darkgreen = #6DBD3A;
darkgrey = #909090;
yellow = #FEB20E;
boldfont = Fira Sans;

yellow = #FEB20E;
blue = #009fc9;

