darkbg = #191919;
blue = #0CACF2;
green = #A6D902;
grey = #E1E1E1;
darkgrey = #afafaf;
lightgrey = #F7F7F7;
red = #D2111D;
darkblue = #115d95;
darkgreen = #6DBD3A;
darkgrey = #909090;
yellow = #FEB20E;
boldfont = Fira Sans;

