darkbg = #191919;
blue = #0CACF2;
green = #A6D902;
grey = #E1E1E1;
red = #D2111D;
darkblue = #115d95;
darkgreen = #6DBD3A;
darkgrey = #909090;
light-grey = #F2F2F2;
yellow = #FFDB4D;
boldfont = Fira Sans;

