-
	pages = [
	
		{
			'name':'Главная',
			'href':'index.html'
		},
		{
			'name':'Контакты',
			'href':'contact.html'
		}
	
	]
	
mixin filterLine(numb,text)
	.filter-type-el
			input(id='filter#{numb}', type='checkbox', name='rr')
			label(for='filter#{numb}') 
				span
			text #{text}

mixin star()
	.filter-reting-stars
		i.fa.fa-star.active
		i.fa.fa-star.active
		i.fa.fa-star.active
		i.fa.fa-star
		i.fa.fa-star