.main-cont
	.back-search
			a(href="#") Вернуться к результатам поиска
			.bread_block
				a(href="#").bread_block__el 
					span Главная
				a(href="#").bread_block__el 
					span Тель-Авив, Израиль
				span.bread_block__el Arbel Suites Hotel