.footer
	.main-cont
		.footer-wraper
			.footer-left
				a(href="#") Помощь
				a(href="#") Портал
			.footer-right
				a(href="#")
					i.fa.fa-vk
				a(href="#")
					i.fa.fa-facebook
				a(href="#")
					i.fa.fa-twitter
				a(href="#")
					i.fa.fa-google-plus
				a(href="#")
					i.fa.fa-instagram