.footer
	.main-cont
		.footer-wraper
			.footer-left
				a(href="#") Помощь
				a(href="#") Конфиденциальность
			.footer-right Copyright © 2004-2016 Ots.ru.com TM
	.toast__wraper
		
		.toast__wraper-el
			.toast__wraper-cont
				.toast__wraper-img
					img(src="img/clock-msg.png", alt="")
				.toast__wraper-text Сообщение 1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate aperiam dolore iste aut blanditiis earum amet odit consequatur, atque ad.
		.toast__wraper-el
			.toast__wraper-cont
				.toast__wraper-img
					img(src="img/clock-msg.png", alt="")
				.toast__wraper-text Сообщение 1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate aperiam dolore iste aut blanditiis earum amet odit consequatur, atque ad.
		.toast__wraper-el
			.toast__wraper-cont
				.toast__wraper-img
					img(src="img/clock-msg.png", alt="")
				.toast__wraper-text Сообщение 1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate aperiam dolore iste aut blanditiis earum amet odit consequatur, atque ad.
		
	