.top-menu
	.main-cont
		.top-menu-wraper
			.top-menu-logo
				i.fa.fa-bars.toggle-top-menu
				img(src="img/logo-black.png", alt="")
			.top-menu-items
				a(href="#") Авибилеты
				a(href="#") Гостиницы
				a(href="#") Экскурсии
				a(href="#") Страховка
				.top-menu-money
					i.fa.fa-rub
					i.fa.fa-caret-down
			.top-menu-enter вход
			.log-wraper
				form(action="")#login-form
					input(type="text" placeholder="E-mail")
					input(type="password" placeholder="Пароль")
					
					button Вход
					.log-wraper-remember
						.log-wraper-remember-el
							input(id='login', type='checkbox', name='rr')
							label(for='login') 
								span
							span Чужой компьютер
						.log-wraper-remember-el
							a(href="#") Востановить пароль
					.log-registration
						span.registration-trigger Зарегистрироваться 
						span для полного доступа к сервисам
					.log-social-title Авторизоваться через соц. сети

					.log-social
						a(href="#")
							i.fa.fa-vk
						a(href="#")
							i.fa.fa-facebook
						a(href="#")
							i.fa.fa-twitter
						a(href="#")
							i.fa.fa-google-plus
						a(href="#")
							i.fa.fa-instagram
				form(action="")#registration-form
					input(type="text" placeholder="Фамилия")
					input(type="text" placeholder="Имя")
					input(type="text" placeholder="E-mail")
					input(type="password" placeholder="Пароль")
					input(type="text" placeholder="Телефон")
					a(href="#").get-code Выслать проверочный код
					input(type="text" placeholder="Код из СМС")
					button Зарегистрироваться
					.registr-text Нажимая на кнопку "Зарегистрироваться", вы соглашаетесь с условиями использования и Политикой возврата ден. средств.
					.log-social-title Авторизоваться через соц. сети

					.log-social
						a(href="#")
							i.fa.fa-vk
						a(href="#")
							i.fa.fa-facebook
						a(href="#")
							i.fa.fa-twitter
						a(href="#")
							i.fa.fa-google-plus
						a(href="#")
							i.fa.fa-instagram
