.lk-left-el.lk-left-el-profil
	.lk-left-el-title Мой профиль
	.lk-left-el-sub
		a(href="#") Личная страница
		a(href="#") Оплаченные заказы
		a(href="#") Настройки
.lk-left-el
	a(href="#").lk-left-el-title Корзина
.lk-left-el
	a(href="#").lk-left-el-title Брони
.lk-left-el
	a(href="#").lk-left-el-title Избранное