.modal.modal-order
	i.fa.fa-close
	.modal-order-wraper
		.big-title Заказ экскурсии
		.modal-order-text Индивидуальная экскурсия
		form(action="#")
			input#modal-date(type="text" placeholder=" Дата " readonly)
			select.modal-time.dropdown
				option Время 
				option 10:00
				option 11:00
				option 12:00
			select.modal-man.dropdown
				option Взрослые 
				option нет
				option 1
				option 2
				option 3
			select.modal-children.dropdown
				option Дети 
				option нет
				option 1
				option 2
				option 3
			//input.modal-date(type="text" placeholder="Номер телефона" )
			//input.modal-date(type="text" placeholder="Код СМС")
			.modal-order-el
				.modal-order-left
					.modal-order-left-title Лучшая цена
					.modal-order-left-price $ 1 788
				.modal-order-right
					.btn-main.modal-get-bay Купить
					span Нельзя отменить бронь
			.modal-order-el
				.modal-order-left
					.modal-order-left-title Стандарт
					.modal-order-left-price $ 2000
				.modal-order-right
					.btn-main#modal-get-bron Забронировать
					span Возможна отмена брони за 3 дня
	.modal-more
		span *Точное время будет указано в бланке заказа
		span *дети от 7 лет

.modal.modal-bron
	.modal-bron-wraper
		.big-title Бронь добавлена
		a(href="#").btn-main продолжить покупки

.modal.modal-exs
	.modal-bron-wraper
		.big-title Экскурсия добавлена в корзину
		a(href="#").btn-main Оплатить
		a(href="#").btn-main продолжить покупки

.modal.modal-lk-list
	.modal-lk-list-wraper
		.big-title Свяжитесь с нами по телефону 
		.mid-title 8900-000-00-00
		a(href="#").btn-main Готово

.modal.modal-lk-bron-time
	.modal-lk-bron-time-wraper
		.big-title Отмена экскурсии возможна только <br> за 2 дня до даты бронирования 
		.mid-title свяжитесь с нами поо телефону <br> <span> 8900-000-00-00</span>
		a(href="#").btn-main Готово

.modal.modal-lk-bron-endtime
	.modal-lk-bron-time-wraper
		.big-title Спасибо, что предупредили нас заранее 
		.mid-title На Ваш e-mail будет отправлено <br> письмо со ссылкой для подтверждения отмены</span>
		a(href="#").btn-main отправить письмо 

.modal.modal-bookmark
	.modal-bookmark-wraper
		.big-title Название экскурсии 
		a(href="#").btn-main Подробно
		a(href="#").btn-main Забронировать 

.modal.modal-bron-phone
	.modal-bron-phone-wraper
		.big-title Бронирование экскурсии
		.mid-title Индивидуальная экскурсия
		form(action="")
			input(type="text" placeholder=" Номер телефона")
			a(href="#").get-code Проверочный код
			input(type="text" placeholder=" Проверочный код") 
			.btn-main Подтвердить

.modal.modal-bron-phone-bad
	.modal-bron-phone-bad-wraper
		.big-title Отмена бронирования
		.mid-title.text-center Индивидуальная экскурсия
		form(action="")
			input(type="text" placeholder=" Номер телефона")
			a(href="#").get-code Проверочный код
			input(type="text" placeholder=" Проверочный код") 
			.btn-main Подтвердить

.modal.modal-change-bron
	.modal-change-bron-wraper
		.big-title Измение брони
		form(action="#")
			input.modal-date(type="text" placeholder=" Дата " readonly)
			select.modal-time.dropdown
				option Время 
				option 10:00
				option 11:00
				option 12:00
			select.modal-man.dropdown
				option Взрослые 
				option нет
				option 1
				option 2
				option 3
			select.modal-children.dropdown
				option Дети 
				option нет
				option 1
				option 2
				option 3
			.btn-main Подтвердить

.modal.modal-soc__remove
	.modal-soc__remove-row 
		| Ссылка на ваш профиль 
		.modal-soc__remove-prof
			.lk-about__soc-icon
				img(src="img/soc/facebook.png", alt="")
			.modal-soc__remove-name Малеев Александр
		| будет удалена
	.modal-soc__remove_btn-row
		.btn-main Удалить
		.btn-main.btn-main--def Отменить

.modal.modal-payment
	i.fa.fa-close
	p.bold Этот вариант почти ваш! Нам всего лишь нужны некоторые данные.
	.modal-payment__user
		i.fa.fa-users
		span 4 других пользователя тоже рассматривают этот вариант для бронирования
	p Введенные данные не сохраняются, если вы покинете эту страницу. Завершите процесс и обеспечьте гарантию бронирования .
	.modal-payment__garant
		.modal-payment__icon
			i.fa.fa-check
		.modal-payment__info
			span.bold Гарантия лучшей цены <br>
			span Стоимость этого номера на US$27 ниже средней цены US$144 за ночь в городе Иерусалим

