//build:js js/combined.js
script(src="bower/jquery/dist/jquery.js")
script(src="bower/easydropdown/src/jquery.easydropdown.js")
script(src="bower/nouislider/distribute/nouislider.min.js")
script(src="bower/bPopup/jquery.bpopup.min.js")
script(src="bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
//script(src="bower/Headhesive.js/dist/headhesive.min.js")
script(src="bower/owl.carousel/dist/owl.carousel.min.js")
script(src="bower/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js")
// endbuild
script(src="js/script.js")